@import "../utilities/mixins";
@import "../utilities/variables";
.footer-container {
    width: 100%;
    background-color: $main-clr;
    height: 10vh;
    @include flexCenter(row);
    align-self: flex-end;
    .social-media {
        margin: 1rem;
        color: $main-bg-clr;
        font-size: 200%;
    }
}