@import "../utilities/mixins";
@import "../utilities/variables";
.header-container {
    width: 100%;
    height: 10vh;
    @include flexCenter(row);
    justify-content: space-between;
    font-weight: 700;
    padding: 1rem;
    background-color: white;
    .logo {
        color: $main-clr;
    }
    nav {
        @include flexCenter(row);
        ul {
            li {
                display: inline-block;
                padding: 1rem;
                .nav-link {
                    color: $main-clr;
                }
            }
        }
    }
}

//Media queries
@media screen and(min-width: 1024px) {
    .header-container {
        height: 12vh;
        .logo {
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 700;
        }
        nav {
            font-size: 14px;
            text-transform: uppercase;
            ul {
                li {
                    .nav-link {
                        color: black;
                    }
                }
            }
        }
    }
}