.start-container {
    height: 90vh;
    background-image: url(../../assets/start-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 35%;
}

//Media queries
@media screen and(min-width: 1024px) {
    .start-container {
        background-position: bottom right;
    }
}