.input-guests-container {
    input,
    button {
        border: none;
        background-color: white;
        height: 3rem;
        width: 3rem;
        font-size: 18px;
        text-align: center;
    }
}

//Media queries
@media screen and(min-width: 1024px) {
    .input-guests-container {
        padding: 3rem;
    }
}