.input-guests-container {
    input,
    button {
        border: none;
        background-color: white;
        height: 3rem;
        width: 3rem;
        font-size: 18px;
        text-align: center;
    }
}