@import "../../utilities/mixins";
@import "../../utilities/variables";
.timeslot-container {
    padding: 0 2rem;
    form {
        padding: 1rem 0;
        input {
            cursor: pointer;
        }
        label {
            padding: .5rem;
        }
        .greyed-out {
            color: #c6c5c5;
        }
        .sorry-box {
            min-height: 30vh;
            @include flexCenter(column);
            text-align: center;
            padding: 0 1rem 2rem 1rem;
            h3 {
                text-transform: uppercase;
            }
        }
    }
}

//Media queries
@media screen and(min-width: 1024px) {
    .timeslot-container {
        padding: 0 3rem;
    }
}